{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<form action='' class='form'>
  <img height='160px' width='100%' src='https://picsum.photos/1200/1200' alt='Form image' class='form__image' />
  <h1 class='form__title'>Реєстрація користувача</h1>
  <div class='form__group'>
    <label for='username' class='form__label'>Ім'я корисувача</label>
    <input type='text' id='username' name='username' class='form__input' required />
  </div>
  <div class='form__group'>
    <label for='email' class='form__label'>Email</label>
    <input type='email' id='email' name='email' class='form__input' required />
  </div>
  <div class='form__group'>
    <label for='age' class='form__label'>Age</label>
    <input type='number' id='age' name='age' class='form__input' required />
  </div>

  <div class='form__group'>
    <label for='role' class='form__label'>Оберіть роль</label>
    <select id='role' name='role' class='form__select' required />
      <option value="" disabled="" selected="">Роль</option>
      <option value="user">Користувач</option>
      <option value="admin">Адміністратор</option>
    </select>
  </div>

   <div class='form__group form__group--checkbox'>
    <label for='age' class='form__label'>Відправити повідомлення на email</label>
    <input type='checkbox' id='agree' name='agree' class='form__input' required />
   </div>
   <button class="form__button" type="submit"><span> Зареєструватися </span></button>
   <div id="outer">
    <div id="inner">
      Click me!
    </div>
   </div>

</form>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}